@charset "UTF-8";

$color-white: #FFFFFF;
$color-red: #D9534F;
$color-primary: #0078E7;
$color-success: #1CB841;
$color-danger: #CA3C3C;
$color-warning: #DF7514;
$color-info: #42B8DD;
$color-black: #000000;

$color-border-gray: #999;

$color-btn-default: #E6E6E6;