@charset "UTF-8";

$border-radius: 2px;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;

$padding-10: 10px;
$padding-20: 20px;

$img-200: 200px;
$img-500: 500px;
$img-800: 800px;

$btn-100: 100px;
$btn-80 : 80px;